/* Intro and info sections */

.intro {
  padding: 1em;
}

.intro > h1 {
  font-family: var(--bs-font-serif);
  font-size: 2em;
  font-weight: normal;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.info > * {
  flex: 1;
}

@media screen and (min-width: 630px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

/* Media card styles */

.media-card a {
  text-decoration: none;
  color: var(--bs-black);
}

.media-card a:hover {
  color: var(--bs-crete);
}
.media-card h3 {
  margin: 0.5rem 0;
}
.media-card > p {
  font-size: 0.8em;
  line-height: 1.5;
  color: var(--bs-grey-2);
}


