/* Global styles */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: 18px;
  margin: 0 auto;
  max-width: 1200px;
}

a:link,
a:visited {
  color: var(--bs-link-color);
}

a:hover {
  color: var(--bs-link-hover-color);
}

/* Global navbar styling */

.global-header {
  background-color: var(--bs-black);
  color: white;
  display: flex;
  justify-content: space-between;
  /* padding: 0.3em 1rem; */
  fill: white;
}

.global-header a:link,
.global-header a:visited,
#park-header a:link,
#park-header a:visited {
  color: white;
  text-decoration: none;
}
.global-header .icon {
  width: 20px;
  height: 20px;
}

.global-header__right {
  display: flex;
  align-items: center;
}

.global-header__right .search-icon {
  padding: 0 1rem;
  margin-top: 6px;
}
.global-header__right button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;

  padding: 1.2em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-left: 1px solid var(--bs-grey-5);
}

/* Global nav styles */

.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
}
.global-nav__toggle--open {
  display: none;
  align-items: center;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
  display: none;
}
.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
  display: flex;
}

.global-nav.show {
  max-height: 1000px;
}
